# Server
PORT=your_port_here
JWT_SECRET=your_jwt_secret_here
APP_URL=your_app_url
API_URL=your_api_url

# Database
DB_HOST=your_database_host
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

# Mail / SMTP
MAIL_HOST=your_smtp_host
MAIL_PORT=your_smtp_port
MAIL_USER=your_email_address
MAIL_PASS=your_email_password
MAIL_FROM="Your App Name <your_email_address>"
